html,body {
    background-color: #E5E5E5 !important;
    margin: 0;
    padding: 0;
    /*height: 100%;*/
    width: 100% !important;
    overflow-x: hidden;
 }


*{
    box-sizing: border-box;
}

.navbar {
    background-color: #33A0D9;
    
    height: 104px;
    left: 0px;
    top: 0px;
    right: 0px;
    border-radius: 0px;
    /*overflow-x: hidden;*/
     width:  100%;
 }


.nav-link {
	color: #000000;
    font-size: 24px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    width: 160px;
    left: 1019px;
    top: 36px;
    margin-right:76px;

}

@media screen and (max-width: 768px){
  .nav-link{
    font-size: 20px;
     margin-right:30px;
     
}
}

.nav-item button {
	color: #000000;
    font-size: 24px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    height: 54px;
    width: 144px;
    top: 25px;
   
    right: 2.85%;
    top: 24.04%;
    bottom: 24.04%;
    border-radius: 8px;
}

@media screen and (max-width: 768px){
  .nav-item button{
    width: 95px;
    font-size: 20px;
     
}
}
 
.navbar-brand {
	height: 70px;
    width: 185px;
    margin-left: 100px;
    margin-top: 21px;
    margin-bottom:13px;
    border-radius: 0px;

}

@media screen and (max-width: 768px){
  .navbar-brand img{
    width: 120px;
    height:60px;
    margin-left: 50px;
     
}
}

@media screen and (max-width: 425px){
  .navbar-brand img{
    width: 90px;
    height:60px;
    margin-left:-50px; 

     
}
}

@media screen and (max-width: 425px){
  .navbar-brand img{
    width: 80px;
    height:50px;
    margin-left:-70px; 


     
}
}

#sec1 {
    /*height: 58px;*/
    width: 389px;
    left: 483px;
    margin-top: 287px;
    border-radius:0px;
    
}

@media screen and (max-width: 425px){
#sec1{
    width: 300px;
    margin-top: 200px;
    border-radius:0px;
    margin-left: 10px;
}
}

.form1 {
  
/*height: 58px;*/
left: 483px;
top: 287px;
margin-bottom:30px;

font-style: normal;
font-weight: bold;
font-size: 48px;
/*line-height: 120%;*/
/* identical to box height, or 58px */


color: #000000;


}

@media screen and (max-width: 425px){
.form1{
  font-size:35px;
  margin-left: 10px

}
}

 
 #pwd{
    width: 417px;
 /*   height: 45px;*/
    left: 483px;
    top: 425px;

/* Gray 6 */

     background: #F2F2F2;
     border: 3px solid #000000;
     box-sizing: border-box;
     border-radius: 2px;
     margin-bottom: 58px;
}

 #repwd{
    width: 417px;
   /* height: 45px;*/
    left: 483px;
    top: 425px;

/* Gray 6 */

     background: #F2F2F2;
     border: 3px solid #000000;
     box-sizing: border-box;
     border-radius: 2px;

 }

 @media screen and (max-width: 425px){
#pwd {
  width:330px;
  border-radius: 1px;

}
}

@media screen and (max-width: 425px){
#repwd {
  width:330px;
  border-radius: 1px;

}
}

 label{
width: 425px;
/*height: 33px;*/
left: 0px;
top: 0px;

/* Button Paragraph */
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 33px;
/* identical to box height */

letter-spacing: 0.205em;

color: #000000;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
       }

@media screen and (max-width: 425px){
label{
  font-size:19px;

}
}

.form .btn {
    width: 441px;
height: 68px;
left: 483px;
top: 703px;

/* Button */

background: #000000;
border-radius: 10px;
margin-top: 80px;
left: 553px;
top: 720px;
margin-bottom:  246px;

font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.205em;

color: #FFFFFF;

}

@media screen and (max-width: 425px){
.form .btn {
  border-radius: 5px;
margin-top: 55px;
margin-bottom: 178px;
font-size: 20px;
width: 330px;
height: 59px;
}
}

#footer {
  color: #707070;
/*  height: 2em;
*/
  margin-bottom: 0px;
  /*height: 138px;*/
  width: 100%;
/*left: 0px;*/
/*top: 1017px;*/
bottom: 0;
border-radius: 0px;
left: 0%;/*
right: 0%;*/


/* Footer Color */

background: #2180B3;

}

#footer-menu {
/*display: block;*/
/*margin-left: 228.5px;*/

color: #FFFFFF;

}


/* Secondary Button */
#footer-menu a{
   /*margin-right: 49px;*/
color: #FFFFFF;
font-style: normal;
font-weight: bold;
font-size: 24px;
text-align: c
/*line-height: 150%;*/
}
.footerLinks {
  /*padding: 10px;*/
  text-align: center;
}

@media screen and (max-width: 768px){
  #footer-menu a{
   /* margin-right: 29px;*/
color: #FFFFFF;
font-style: normal;
font-weight: bold;
font-size: 20px;
/*line-height: 150%;*/
}
     
}
.navbar-toggler-icon{
  color: white !important;
}
 
#sec2{
    
width: 481px;
margin-top: 287px;
border-radius: 0px;

}

@media screen and (max-width: 425px){
#sec2 {
width:330px;
margin-top: 200px;
}
}
 
p{

/* P - Paragraph + Secondary Button */
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150%;
/* or 36px */


color: #000000;


}

@media screen and (max-width: 425px){
p {
font-size:13px;
}
}

.btn-1{
    height: 68px;
width: 492px;
margin-top: 41px;
margin-bottom: 464px;
border-radius: 10px;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.205em;
 background: #000000;


color: #FFFFFF;

}

@media screen and (max-width: 425px){
.btn-1 {
  border-radius: 5px;
margin-top: 55px;
margin-bottom: 178px;
font-size: 20px;
width: 330px;
height: 59px;
}
}

#sec2{
    display: none;
}

#error{
  color: red;
  font-style: normal;
font-weight: bold;

}









